/* -----------------------------------
 * PROJECT NAME:Ingangmoa 
 * MAKE: 20210810
 ------------------------------------- */
/* font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url("color.css");


/* common */
body {font-family: 'Noto Sans KR', 'Roboto',sans-serif;}
ul,li {list-style: none;}
h1, .h1 {margin-top: 0; }
h3,.h3 {margin-top: 0; margin-bottom: 0.75em; font-weight: 900; line-height: 1.15em;letter-spacing: -1px;}
.tits {margin:20px 0 20px;}
.white {background: #fff;}
.header-ingang {
  /* position: fixed; */
  top: 0;
  right: 0;
  z-index: 1005;
  height: var(--header-height);
  border-bottom: 1px solid var(--border-grey-color);
  background-color: var(--background-secondary-color);
  -webkit-transition: var(--t-base);
  transition: var(--t-base);
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-property: width transform;
  transition-property: width transform;
}
.page-content-ingang {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  /* max-width: calc(100% - var(--sidebar-full-width)); */

  padding-bottom: 2.5333rem;
  -webkit-transition: var(--t-base);
  transition: var(--t-base);
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}


/* horizontal navi  */

.container--all {width:100%;}
.container--full {width:90%;margin:0 auto;}
.container--main {width:1180px; margin:0 auto;}

@media (max-width: 1179px) {
.container--main {width:90%; margin:0 auto;}

}


/* navi */
.topbar {}
/* .sidebar-none .sidebar{display: none;} */
.sidebar-collapse .sidebar.none{display: none;}
/* card */


/* head search */
.head-search-area {width:600px;margin:0 auto;}
.head-search-area .search-line {margin:10px 0 0 5px;}
.head-search-area .search-line .tit{font-family: 'Noto Sans KR', 'Roboto',sans-serif;font-size: 14px;font-weight: 700;letter-spacing: -0.5px;float:left;color:#333;margin-right:10px;}
.head-search-area .search-line li{display:inline-block; margin:0 10px; }
.head-search-area .search-line li a {font-size: 14px;color:#888;}
.head-search-area .search-text { font-family: 'Noto Sans KR', 'Roboto',sans-serif;font-size: 24px;font-weight: 400;letter-spacing: -0.5px;margin-right:10px;text-align: center;}
.head-search-area .search-text .blue {color:#3370DA;font-weight: 600;}

/* 2차 검색 search-detail-area */
.search-detail-area {width:800px;margin:0 auto;}
.search-detail-area .search-detail-box { padding:3%;border: 1px solid var(--border-grey-color);border-radius: 3px;background-color:#fff;-webkit-box-shadow: var(--control-shadow);box-shadow: var(--control-shadow);}
.search-detail-area .search-detail-body .label{font-family: 'Noto Sans KR', 'Roboto',sans-serif;font-size:14px; color:#717278;font-weight: 500;letter-spacing: -1px;}



/* 강의 상세페이지 */
.product-heads {width:100%;background:#F4F6FA ;}
.product-head-area {width:1020px;margin:0 auto;}
.product-head-area .product-box { margin:3% 0; padding:3%;border: 1px solid var(--border-grey-color);border-radius: 3px;background-color:#fff;-webkit-box-shadow: var(--control-shadow);box-shadow: var(--control-shadow);}
.product-head-area .product-left {float:left;width:50%;} 
.product-head-area .product-right {float:right;width:50%;} 

/* h1 */ .page-header__title { margin-bottom: 0;font-size: 1.2rem;font-weight: 900;}
/* h2 */ .page-header__subtitle {font-size: 1.0rem;font-weight: 900;letter-spacing: -0.5px;}
/* h3 */ .modal__title {font-family: 'Noto Sans KR', 'Roboto',sans-serif;font-size: 16px;font-weight: 800;letter-spacing: -0.5px;}


/*
.input, .input-group .select2-container .select2-selection--single, .input-group--append-lg .select2-container .select2-selection--single, .select2-container .select2-selection--multiple {height: 39px;}
.form-label {margin-bottom: 0.1rem;}
.form-label {font-family: 'Noto Sans KR', 'Roboto',sans-serif;margin-top: 0; margin-bottom: 0.5rem; font-size: 12px; font-weight: 700; color: #B4B3BB;}
.input, .input-group .select2-container .select2-selection--single, .input-group--append-lg .select2-container .select2-selection--single, .select2-container .select2-selection--multiple {font-family: 'Noto Sans KR', 'Roboto',sans-serif;font-size:14px;} 
.input-group input {font-family: 'Noto Sans KR', 'Roboto',sans-serif;font-size: 13px; font-weight:500; color:#545768;}
.input-editor .ql-container p {font-size: 14px;}
.form-group--lg { margin-bottom: 1rem;}
.btn-outline-primary {color:#313DDF;}
.btn-outline-danger {border:1px solid #E2574C;color: #E2574C;background-color: #333;}
*/
/* visual */



/*
.swiper-button-next,.swiper-container-rtl .swiper-button-prev,.swiper-button-prev,.swiper-container-rtl .swiper-button-next {
	top:1.5rem;	height:2.5rem;width:2.5rem;	line-height:2.5rem;	background-image:none;	background-color:none;	-webkit-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out}
.swiper-button-next:hover,.swiper-container-rtl .swiper-button-prev:hover,.swiper-button-prev:hover,.swiper-container-rtl .swiper-button-next:hover {	background-color:none;}
.swiper-button-next::after,.swiper-container-rtl .swiper-button-prev::after,.swiper-button-prev::after,.swiper-container-rtl .swiper-button-next::after {	font-family:"Font Awesome 5 Free";
	font-weight:900;color:#fff;font-size:.875rem;position:absolute;left:calc(50% - 7px);-webkit-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out}
.swiper-button-next,.swiper-container-rtl .swiper-button-prev {	right:1rem}
.swiper-button-next::after,.swiper-container-rtl .swiper-button-prev::after {content:'\f061'}
.swiper-button-next:hover::after,.swiper-container-rtl .swiper-button-prev:hover::after {left:50%}
.swiper-button-prev,.swiper-container-rtl .swiper-button-next {	left:auto;	right:4.5rem}
.swiper-button-prev::after,.swiper-container-rtl .swiper-button-next::after {content:'\f060'}
.swiper-button-prev:hover::after,.swiper-container-rtl .swiper-button-next:hover::after {left:calc(50% - 14px)}
.swiper-pagination-bullet {	background:#e0e3eb;	height:10px;width:10px;	opacity:1;	-webkit-transition:all .3s ease-in-out;	transition:all .3s ease-in-out
}
.swiper-pagination-bullet:hover {background:#c1c7d6}
.swiper-pagination-bullet-active {background:transparent;box-shadow:0 0 0 3px #4d5bed}
.swiper-pagination-bullet-active:hover {background:transparent}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {	margin: 0 6px}   */

/* swiper  */


/* visual title */
.visual .title-wrap {width:900px;margin:0 auto;margin-top:140px;}
.visual .title-wrap .titles {width:40%;float:left;z-index:11}
.visual .title-wrap .titles .h1-hero {font-family: 'Noto Sans KR','Roboto', sans-serif;font-size:34px; font-weight: 600; color:#fff;letter-spacing: -2.5px;}
.visual .title-wrap .titles .subtitle {font-family: 'Noto Sans KR','Roboto', sans-serif;font-size:14px; font-weight: 300;color:#fff;}
.visual .title-wrap .banners {width:60%;float:left;z-index:10}
.visual .title-wrap .banners .banner-img {width:600px;height:400px;}
.visual .title-wrap .banners .banner-img img{width:100%; overflow: hidden;}
.visual .swiper-slide {overflow: hidden !important;}
.visual .swiper-slide.bg1 {background: url( ) no-repeat center / cover;background: #000789;}
.visual .swiper-slide.bg2 {background: url() no-repeat center / cover;background: #F56328;}
.visual .swiper-slide.bg3 {background: url() no-repeat center / cover;background: #3159FD;}
.visual .swiper-slide.bg4 {background: url( ) no-repeat center / cover;background: #000789;}
.visual .swiper-slide.bg5 {background: url() no-repeat center / cover;background: #F56328;}
.visual .swiper-slide.bg6 {background: url() no-repeat center / cover;background: #3159FD;}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.swiper-pagination-progressbar {
bottom: 0;
}

.swiper-container-horizontal>.swiper-pagination-progressbar {
  top: auto;
  bottom: 48px;
}
.swiper-container-horizontal>.swiper-pagination-progressbar {
  width: 20%;
  height: 4px;
left: 48%;
top: 95%;
  background-color: rgba(232, 227, 227, 0.2);
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  width: 100%;
  background-color: #f06a44;
}
h2 {
  font-family: sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
  text-align: left;
}
.swiper-slide:nth-Child(even){
  background: #cccccc;
}

.swiper-slide:nth-Child(odd){
  background: #666666;
}

.caption {
  text-align: center;
  padding-top: 20px;
}
.counter, .counter span {
  position:relative;
}
.counter .next, .counter .count {
  position:absolute;
}
.counter .next {
  transform:translateY(-12px);
  left:0;
}




/*
--text-primary-color: #202024;
--background-primary-color: #f8f9fd;
--text-secondary-color:#545768;



--background-primary-color: var(--grey-light-color-1);
--text-primary-color: var(--grey-color-3);
--text-secondary-color: var(--grey-color-1);
*/

/* 강의리스트 */
.won {font-family: 'Noto Sans KR',sans-serif;}
.timeline-item__stat-like {font-size: 10px;}
.timeline-item__container {margin-bottom:30px;}
.head-wrap {height:30px; margin-bottom:10px;}
.head-category-img {display: inline-block;margin-right:5px;margin-bottom: 0.75em;}
.head-category-img .in-channel {display: inline-block;height: 24px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; width: 24px;}
.head-category-img .in-channel img {border-radius: 4px; height: 100%; -o-object-fit: cover; object-fit: cover; overflow: hidden; width: 100%;}

.head-wrap .head-category-area {display: inline-block;line-height: 32px;}
.head-wrap .head-sub-area {display: inline-block;float:right;} 
.head-wrap .head-sub-area .viewall {font-family: 'Noto Sans KR',sans-serif;font-size:14px;font-weight: 700;letter-spacing: -1px;}
.head-wrap .head-sub-area .count {font-family: 'Roboto',sans-serif;font-size:15px;font-weight: 500;margin-left:2px;letter-spacing: 0px;}

.head-wrap .ct-info {}
.head-wrap .ct-channel { display: inline-block; height: 22px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; width: 22px;}
.head-wrap .ct-channel img {border-radius: 4px; height: 100%; -o-object-fit: cover; object-fit: cover; overflow: hidden; width: 100%;}
.head-wrap .ct-author {line-height: 32px; padding-left: 10px; transition: all .15s;}
.head-wrap .ct-info a { float: left;}
.head-wrap .viewall {float:right;font-family: 'Noto Sans KR',sans-serif;font-size:14px;font-weight: 500;letter-spacing: -0.5px;color:#666;}
.head-wrap .viewall a {font-family: 'Noto Sans KR',sans-serif;font-size:14px;font-weight: 500;letter-spacing: -0.5px;color:#666;}
.head-wrap .viewall a:hover,.head-wrap .viewall .active {color:#0037FA;}
.head-wrap .count {font-family: 'Roboto',sans-serif;font-size:14px;font-weight: 500;margin-left:2px;letter-spacing: 0px;}

.countlabel {float:right;}
.countlabel .wishcount {display: inline-block;float:left;margin-right:10px;}
.countlabel .likecount {display: inline-block;float:left;}
.countlabel .icon {font-size: 12px;}
.countlabel .icon svg {width:14px;height:14px;font-size:13px;line-height: 30px;margin-top:-5px;}
.countlabel .date {}

.head-tab-area {width:100%;background: #F4F6FA;margin:30px 0px 50px;display: inline-block ;}
.head-tab  {width:1260px; height:60px;margin:0 auto; }
.head-tab .clear-left li .count {font-family: 'Roboto',sans-serif;font-size:15px;font-weight: 500;margin-left:2px;letter-spacing: 0px;}
.head-tab .clear-left li {float:left; list-style: none; height:60px;line-height: 70px;font-family: 'Noto Sans KR',sans-serif;font-size:16px;font-weight: 500;text-align:left; letter-spacing: -2px;margin-right:50px;}
.head-tab .clear-left li a {color:#333;}
.head-tab .clear-left li a:hover,.head-tab li.on>a {color:#3370DA; border-bottom:3px solid #3370DA;}
.head-tab .clear-left {float:left;}
.head-tab .clear-right {float:right; width:200px;margin-top:20px;line-height: 70px;}

.in-box-foot {}
.in-box-foot .date {float:right; font-family: 'Roboto',sans-serif;font-size:11px;font-weight: 400;color:#707070;margin-left:5px; display: inline-block;}
.in-box-foot .text {font-family: 'Noto Sans KR',sans-serif;font-size:11px;font-weight: 400;   color: var(--grey-color-10);display: inline-block;}
.in-box-foot .right {display: inline-block; float:right;vertical-align: top;}
.in-box-foot .right .timeline-item__stat {margin-top:-3px;}

.in-box-title {font-family: 'Noto Sans KR',sans-serif;font-size:15px;font-weight: 500; color: var(--grey-color-1);letter-spacing: -0.5px;height: 45px;overflow: hidden;display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;word-break:keep-all;}
.in-box-head {font-family: 'Roboto',sans-serif;font-size:12px;font-weight: 800;   color: var(--grey-color-10);margin-top:5px;letter-spacing: -1px;}
.in-box-foot {padding:10px 0 0px; font-family: 'Noto Sans KR',sans-serif;font-size:11px;font-weight: 400;   color: var(--grey-color-10);}

.in-price {padding-top:5px; border-top: 1px solid #E1E2E7;height:20px;}
.in-price .originalprice {font-family: 'Roboto',sans-serif;font-size:12px;font-weight: 400;color:#707070;text-decoration: line-through;display:inline-block;}
.in-price .discountpercent {font-family: 'Roboto',sans-serif;font-size:12px;font-weight: 600;color:#FF2C00;display:inline-block;}
.in-productprice {margin-top:5px; height:30px;}
.in-productprice .sellingprice {font-family:'Roboto',sans-serif;font-size:14px;font-weight: 700;color:#333;letter-spacing: -0.5px;display:inline-block;}
.in-productprice .installmenttext {font-family: 'Noto Sans KR','Roboto',sans-serif;font-size:11px;font-weight: 500;color:#707070;display:inline-block;}

.in-badge {}









/* 서브 */
/*
.in-viewall {display: inline-flex;vertical-align: middle; background: none; color: #333; font-size: 14px; font-weight: 500; line-height: 20px; letter-spacing: -0.2px; transition: color 0.1s ease 0s; color:#333;}
.in-viewall .count {font-family:'Roboto',sans-serif;font-size:14px;font-weight: 700;color:#333;float:right;margin-top:2px; vertical-align: middle;}
*/
@media (min-width: 576px){
.timeline-item__image {margin-bottom: 1.0rem;}
}

/* 맴버리스트 */
.card__table-transactions .member-1 {width:10%}
.card__table-transactions .member-2 {width:10%}
.card__table-transactions .member-3 {width:20%}
.card__table-transactions .member-4 {width:30%}
.card__table-transactions .member-5 {width:30%}

.text-numsm {font-family: 'Roboto'; font-size:12px;font-weight: 700;color:#B4B3BB; }

.media-item__icon img {border-radius: 30%;}
.media-item__icon { width: 2.5rem; height: 2.5rem; border-radius: 50%;}

.dropdown-items__link { font-size: 12px;}
.card {padding: 2.0rem 0 2.0rem;}
.card__header {margin-bottom: 0.6rem;}
/*
.in-class-wrap {padding:20px;border: 1px solid #F2F2F2;background: #fff;}
.in-class-wrap .in-class-box {display:flex;}
*/







